@use "@/assets/styles/variables" as *;

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 80px 100px;

  .content {
    flex: 1;
    width: 70%;

    p.intro {
      font-size: $font-body;
      color: $text-color;
      margin: 0;
    }

    h1 {
      font-size: $font-h2;
      color: $text-color;
      margin: 0.3rem 0;
      font-weight: bold;
    }

    p.role {
      font-size: $font-body;
      color: $text-color;
       margin: 0 0 1.5rem 0;
    }

    p.description {
      font-size: $font-body;
      color: $text-color;
      line-height: 1.6;
      margin: 3rem 0;
    }

    .buttonWrapper {
      display: flex;
      justify-content: center;

      button {
        background-color: #1A1A1A;
        color: $text-color;
        box-shadow: 0 4px 10px rgb(243, 241, 241);
        border: none;
        cursor: pointer;
        font-weight: 600;
        border-radius: 20px;
        padding: 12px 24px;
        margin-top: 36px;

        &:hover {
          background-color: #000000;
        }
      }
    }
  }

  .avatar {
    flex: 0 0 30%;
    margin-left: 2.5rem;

    img {
      width: 100%;
      height: auto;
      border-radius: 50%;
      object-fit: cover;
      border: 6px solid $text-color;
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.97);

    }
  }
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    padding: 40px 20px;
    gap: 2rem;
  }

  .content {
    width: 100%;
    text-align: center;

    h1 {
      font-size: 36px;
    }

    p {
      font-size: 16px;
      margin: 1.5rem 0;
    }
  }

  .avatar {
    margin-left: 0;
    flex: none;
    width: 180px; 
  }
}
