@use "@/assets/styles/variables" as *;

.skills {
  padding: 80px 100px;
  background-color: $background-color;
  color: $text-color;

  h2 {
    text-align: center;
    font-size: $font-h2;
    margin-bottom: 3rem;

    .white {
        color: $text-color;
    }


    .blue {
        color: $title-color;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;

    .card {
      background-color: #2a2a2a;
      padding: 20px;
      border-radius: 16px;
      border: 1px solid #333;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
      text-align: center;
      transition: transform 0.3s ease;

      &:hover {
        transform: translateY(-5px);
      }

      .icon {
        font-size: $font-h2;
        color: $title-color;
        margin-bottom: 1rem;
      }

      h3 {
        font-size: 20px;
        margin-bottom: 0.8rem;
        color: $title-color;
      }

      p {
        font-size: $font-body;
        line-height: 1.6;
      }
    }
  }
}

@media (max-width: 1024px) {
  .skills {
    padding: 60px 50px;

    h2 {
      font-size: $font-h2-tablet;
    }

    .grid {
      gap: 1.5rem;

      .card {
        .icon {
          font-size: $font-h2-tablet;
        }

        h3 {
          font-size: 18px;
        }

        p {
          font-size: $font-body-tablet;
        }
      }
    }
  }
}

/* Mobile */
@media (max-width: 768px) {
  .skills {
    padding: 40px 20px;

    h2 {
      font-size: $font-h2-mobile;
    }

    .grid {
      grid-template-columns: 1fr;
      gap: 1.2rem;

      .card {
        .icon {
          font-size: $font-h2-mobile;
        }

        h3 {
          font-size: 16px;
        }

        p {
          font-size: $font-body-mobile;
        }
      }
    }
  }
}