@use "@/assets/styles/variables" as *;

.header {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 20px 40px;
    background-color: $background-color;
    position: sticky; // cố định header
    top: 0; // dùng với position: sticky để nó dính sát ở trên
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.08);
    z-index: 100; //Giúp header nổi trên các phần tử khác

    a {
        text-decoration: none;
        color: $text-color;
        font-weight: 600;
        position: relative;
        transition: color 0.3s;

        &:hover {
            color: $title-color;
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -4px;
            height: 2px;
            width: 100%;
            background-color: $title-color;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s ease;
        }

        &:hover::after{
            transform: scaleX(1);
        }
    }
}