/* Reset mặc định trình duyệt */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; // Scroll mượt
}

body {
  background-color: #1A1A1A; // Màu chủ đạo 
  font-family: sans-serif;
}

section {
  scroll-margin-top: 80px;
}

