$background-color: #1A1A1A;

// Font size desktop
$font-h2: 48px;
$font-body: 16px;

// Font size tablet
$font-h2-tablet: 36px;
$font-body-tablet: 16px;

// Font size mobile
$font-h2-mobile: 30px;
$font-body-mobile: 14px;

$text-color: #EEEEEE;
$title-color: #00ffff;